.text-about {
  font-family: Times New Roman, 'Times', serif;
  font-size: 12px;
  text-align: justify;
  padding-top: 20px;
}

.animate__animated {
  z-index: 1;
}

#magazine {
  height: 100%;
  width: 100%;
  padding-bottom: 15px;
}