@media only screen and (max-width: 600px){
    .card-img{
        height: 45vh;
        width: 100vw;
        margin: auto;
        border-radius: 15px;
        border-bottom: solid 1px whitesmoke;
    }
    .justify-contect-center{
        padding-left: 5%;
    }

}