@media only screen and (max-width: 600px){
    .card-img{
        height: 45vh;
        width: 100vw;
        margin: auto;
        border-radius: 15px;
        border-bottom: solid 1px whitesmoke;
    }
    .justify-contect-center{
        padding-left: 5%;
    }

    @media only screen and (min-width: 601px){
        .card-img{
            height: 45vh;
            width: 95vw;
            margin: auto;
            border-radius: 15px;
            border-bottom: solid 1px whitesmoke;
        }
    
    }
}