@media only screen and (max-width: 600px){
    #button-selector{
        padding-left: 7%;
    }
}
#designImg{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: solid 2px ;
    align-items: center;
    margin-top: 0%;
}

/* #template{
    width: 100%;
    height: 55vh;
    border-radius: 25px;
    background-color: whitesmoke;
    align-items: center;
    border: solid 3px black;
    border-radius: 15px;
    box-shadow: 3px 3px 3px whitesmoke
    
} */
.animate__animated {
        z-index: 1;
  }

.mb-2{
    padding: 0%;
}

.mb-2:target{
    color: #212529;
    background-color: white;
    box-shadow: currentColor;

}


#button:hover{
    background-color: darkgray;
    filter: blur(0);
    transition: .3s ease;
  }