.footer{
    background-color: #212529;
    height: 250px;
    
}
h5{
    color: #ffffff8c;
    text-decoration: none;
    margin-top: 10px;
    /* padding-top: 15px; */
}
a{
    text-decoration: none;
}
#iconsFooter{
    color: white;
    height: 25px;
    width: 25px;
}

#iconsFooterPayment{
    color: white;
    font-size: 40px;;
    padding: 0px;
    margin: 0px;
}


#iconsRow{
    display: flex;
}
p{
    color: #ffffff8c;
    align-items: center;
}
