.footer{
    background-color: #212529;
    height: 210px;
    
}
h5{
    color: #ffffff8c;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
#iconsFooter{
    color: white;
    font-size: 35px;
    display: block;
    cursor: pointer;
}

#iconsFooterPayment{
    color: white;
    font-size: 40px;;
    padding: 0px;
    margin: 0px;
}


#iconsRow{
    display: flex;
}
p{
    color: #ffffff8c;
    align-items: center;
}
