.footer{
    background-color: #212529;
    position: static;
    bottom: 0%;
    right: 0%;
    left: 0%;
    
}
h5{
    color: #ffffff8c;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
}
h5:hover{
    background-color: white;
    color: #212529;
    border: white solid 2px;
    border-radius: 15px;
    width: max-content;
    height: max-content;
}
a{
    text-decoration: none;
}
#iconsFooter{
    background-color: white;
    color: #212529;
    font-size: 60px;
    border: white solid 2px;
    border-radius: 15px;
    display: block;
    cursor: pointer;

    animation: 3s ease-in-out;
    transition: all .5s ease-in-out;
}
#iconsFooter:hover{
    animation: none;
    background-color: white;
    color: #212529;
    font-size: 60px;
    border: white solid 2px;
    border-radius: 15px;
    
}

#iconsRow{
    display: flex;
}
p{
    color: #ffffff8c;
}
