body{
    background-color: gray;
}
.div-logo{
    width: max-content;
    height: max-content;
}
#logo{
    height: 200px;
    width: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#icons{
    color: black;
    text-decoration: none;
    font-size: 20px;
    /* margin: 2px;
    margin-top: 15px; */
}