@media only screen and (max-width: 601px){
    .card-img{
        height: 50vh;
        width: 100vw;
        border-radius: 35px;
        border-bottom: 1px solid whitesmoke;
        border-color: #212529;
        margin: auto;
        margin-top: 8%;
        margin-bottom: 7%;
        border-color: #FFFFFF;
    }
    
}

#col-home{
    margin: auto;

}
.carousel-home{
    border: solid 1px whitesmoke;
    border-radius: 15px;
}
.container-fluid {
    padding: 2px;
}

.carousel-control-next {
    z-index: 3;
    color: transparent;
}

.carousel-control-prev {
    z-index: 3;
    color: transparent;
}
