img {
    width: 780px;
    height: 650px;
}


.imgDiv {
    padding: 0px;
    margin: 0px;
}

#carouselItem{
    color: transparent;
}
.container-fluid{
    padding: 0px;
    
}
#container-fluid{
    background-image: url('https://i.pinimg.com/originals/db/76/76/db7676a114b1da549b48477d9750b2b9.jpg');
    background-size: contain;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}

.carousel-control-next{
    z-index: 3;  
    color: transparent;
}

.carousel-control-prev{
    z-index: 3;
    color: transparent;
}

/* .carousel-indicators{
    z-index: 2;
    color: white;
} */