@media only screen and (min-width: 601px){
    .card-img{
        /* height: 50vh;
        width: 65vw; */
        border-radius: 35px;
        border-bottom: 1px solid whitesmoke;
        border-color: #212529;
        margin: auto;
    }
}

#col-home{
    margin: auto;

}
.carousel-home{
    border: solid 1px whitesmoke;
    border-radius: 15px;
}
.container-fluid {
    padding: 2px;
}

#container-fluid {
    background-image: url('https://i.pinimg.com/originals/db/76/76/db7676a114b1da549b48477d9750b2b9.jpg');
    background-size: contain;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}

.carousel-control-next {
    z-index: 3;
    color: transparent;
}

.carousel-control-prev {
    z-index: 3;
    color: transparent;
}
