#logo {
    height: 100px;
    width: 180px;
    padding-bottom: 15px;
    padding-top: 15px;
    align-items: flex-start;
}

#secondNavbar {
    border-top: solid 2px white;
}

#headerContainer {
    background-color: #212529;
}

h5 {
    margin-right: 5px;
}

#navbar {
    position: sticky;
    top: 0px;
    z-index: 7;
}